.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/

# ignore psychopy cache
./psychopy_test/__pycache__/
./psychopy_test/scripts/__pycache__/